<h1>Listing request_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Template</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @request_types.each do |request_type| %>
  <tr>
    <td><%= request_type.name %></td>
    <td><%= request_type.template %></td>
    <td><%= link_to 'Show', request_type %></td>
    <td><%= link_to 'Edit', edit_request_type_path(request_type) %></td>
    <td><%= link_to 'Destroy', request_type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Request type', new_request_type_path %>
