<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<div class="row">
  <div class="span2">
    <p><%= @user.requests.count %> requests:</p>
    <p><%= @user.requests.unsent.count %> unsent</p>
    <p><%= @user.requests.sent.count %> awaiting response</p>
    <p><%= @user.requests.responses_late.count %> past three-day limit<p>
  </div>

  <div class="span10">
    <p><%= link_to "New Request", new_request_path, class: "btn btn-mini btn-primary active" %></p>
    <table class="table table-condensed">
	    <% if @user.requests.any? %>
      <% @user.requests.each do |request| %>
      <tr>
        <td><%= link_to request.id, request_path(request) %></td>
        <td><%= link_to request.current_status.status, new_request_status_path(request), title: "Click to update status" %></td>
        <td><%= request.current_status.created_at.strftime("%B %d, %Y") %></td>
        <td><%= request.recipient_organization %></td>
        <td><%= truncate(request.request_text, length: 50) %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'Show', request_path(request), class: "btn btn-mini"%>
            <%= link_to 'Edit', edit_request_path(request), class: "btn btn-mini"%></td>
          </div>
      </tr>
      <% end %>
      <% end %>
    </table>
  </div>
</div>
