<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<div class="row">
  <div class="span2">
    <p><%= @user.requests.count %> requests:</p>
    <p><%= @user.requests.unsent.count %> unsent</p>
    <p><%= @user.requests.sent.count %> awaiting response</p>
    <p><%= @user.requests.responses_late.count %> past three-day limit<p>
  </div>

  <div class="span10">
    <p><%= link_to "New Request", new_request_path, class: "btn btn-mini btn-primary active" %></p>
    <table class="table table-condensed">
	    <% if @user.requests.any? %>
        <%= render @user.requests %>
      <% end %>
    </table>
  </div>
</div>
