<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<div class="row">
  <div class="span3">
    <p>
      <b>Name:</b>
      <%= @user.name %>
    </p>

    <p>
      <b>Email:</b>
      <%= @user.email %>
    </p>

    <p>
      <b>Phone:</b>
      <%= @user.phone %>
    </p>

    <p>
      <b>Title:</b>
      <%= @user.title %>
    </p>

    <p>
      <b>Organization:</b>
      <%= @user.organization %>
    </p>

    <p>
      <b>Address:</b>
      <%= @user.address %>
    </p>

    <p>
      <b>City:</b>
      <%= @user.city %>
    </p>

    <p>
      <b>State:</b>
      <%= @user.state %>
    </p>

    <p>
      <b>Zip:</b>
      <%= @user.zip %>
    </p>
  </div>
  <div class="span9">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav pull-left">
            <li class="active"><%= link_to "New Request", new_request_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="span9">
    <table class="table table-condensed">
	    <% if @user.requests.any? %>
      <% @user.requests.each do |request| %>
      <tr>
        <td><%= request.recipient_organization %></td>
        <td><%= request.created_at.strftime("%a, %B %d, %Y") %></td>
        <td><%= truncate(request.request_text, length: 50) %></td>
        <td><%= link_to 'Show', request_path(request), class: "btn btn-mini btn-primary active"%></td>
        <td><%= link_to 'Edit', edit_request_path(request), class: "btn btn-mini btn-primary active"%></td>
      </tr>
      <% end %>
      <% end %>
    </table>
  </div>
</div>
