<%= provide(:title, "New request") %>
<h1>New request</h1>
<div class="row-fluid">
  <div class="span6 offset3">
    <p>
      <strong>Please enter information as you wish it to appear in your records request letters:</strong>
    </p>
    <%= form_for(@request) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :recipient_name %>
      <%= f.text_field :recipient_name %>

      <%= f.label :recipient_title %>
      <%= f.text_field :recipient_title %>

      <%= f.label :recipient_organization %>
      <%= f.text_field :recipient_organization %>

      <%= f.label :recipient_addr %>
      <%= f.text_field :recipient_addr %>

      <%= f.label :recipient_city %>
      <%= f.text_field :recipient_city %>

      <%= f.label :recipient_state %>
      <%= f.text_field :recipient_state %>

      <%= f.label :recipient_zip %>
      <%= f.text_field :recipient_zip %>

      <%= f.label :request_type_id %>
      <%= f.collection_select :request_type_id, RequestType.all, :id, :name %>

      <%= f.label :request_text, "Description of records you are requesting" %>
      <%= f.text_area :request_text, class: "input-small", style: "width: 465px", rows: "5" %>
      <div class="form-action">
	      <%= f.submit "Create new request", class: "btn btn-large btn-primary" %>
	    </div>
    <% end %>
  </div>
</div>
