<%= form_for(@letter) do |f| %>
  <% if @letter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@letter.errors.count, "error") %> prohibited this letter from being saved:</h2>

      <ul>
      <% @letter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sender %><br />
    <%= f.text_field :sender %>
  </div>
  <div class="field">
    <%= f.label :sender_title %><br />
    <%= f.text_field :sender_title %>
  </div>
  <div class="field">
    <%= f.label :sender_organization %><br />
    <%= f.text_field :sender_organization %>
  </div>
  <div class="field">
    <%= f.label :sender_email %><br />
    <%= f.text_field :sender_email %>
  </div>
  <div class="field">
    <%= f.label :recipient %><br />
    <%= f.text_field :recipient %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :organization %><br />
    <%= f.text_field :organization %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :request_text %><br />
    <%= f.text_area :request_text %>
  </div>
<!--
  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :request_type %><br />
    <%= f.text_field :request_type %>
  </div>
-->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
