<h1>Listing letters</h1>

<table>
  <tr>
    <th>Sender</th>
    <th>Sender title</th>
    <th>Sender organization</th>
    <th>Sender email</th>
    <th>Recipient</th>
    <th>Email</th>
    <th>Title</th>
    <th>Organization</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Final text</th>
    <th>User</th>
    <th>Request type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @letters.each do |letter| %>
  <tr>
    <td><%= letter.sender %></td>
    <td><%= letter.sender_title %></td>
    <td><%= letter.sender_organization %></td>
    <td><%= letter.sender_email %></td>
    <td><%= letter.recipient %></td>
    <td><%= letter.email %></td>
    <td><%= letter.title %></td>
    <td><%= letter.organization %></td>
    <td><%= letter.address %></td>
    <td><%= letter.city %></td>
    <td><%= letter.state %></td>
    <td><%= letter.zip %></td>
    <td><%= letter.final_text %></td>
    <td><%= letter.user %></td>
    <td><%= letter.request_type %></td>
    <td><%= link_to 'Show', letter %></td>
    <td><%= link_to 'Edit', edit_letter_path(letter) %></td>
    <td><%= link_to 'Destroy', letter, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Letter', new_letter_path %>
