<p id="notice"><%= notice %></p>

<p>
  <b>Sender:</b>
  <%= @letter.sender %>
</p>

<p>
  <b>Sender title:</b>
  <%= @letter.sender_title %>
</p>

<p>
  <b>Sender organization:</b>
  <%= @letter.sender_organization %>
</p>

<p>
  <b>Sender email:</b>
  <%= @letter.sender_email %>
</p>

<p>
  <b>Recipient:</b>
  <%= @letter.recipient %>
</p>

<p>
  <b>Email:</b>
  <%= @letter.email %>
</p>

<p>
  <b>Title:</b>
  <%= @letter.title %>
</p>

<p>
  <b>Organization:</b>
  <%= @letter.organization %>
</p>

<p>
  <b>Address:</b>
  <%= @letter.address %>
</p>

<p>
  <b>City:</b>
  <%= @letter.city %>
</p>

<p>
  <b>State:</b>
  <%= @letter.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @letter.zip %>
</p>

<p>
  <b>Final text:</b>
  <%= @letter.final_text %>
</p>

<p>
  <b>User:</b>
  <%= @letter.user %>
</p>

<p>
  <b>Request type:</b>
  <%= @letter.request_type %>
</p>


<%= link_to 'Edit', edit_letter_path(@letter) %> |
<%= link_to 'Back', letters_path %>
